extends partial/base

block navbar-extra
    if page.tag
        span.navbar-tag
            span.navbar-sep |
            = " " + page.tag

block content
    .container
        .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
                .archive-list
                    - var years = {};
                    - page.posts.each(function(post) {
                    -   var y = full_date(post.date, 'YYYY');
                    -   if (!years[y]) years[y] = [];
                    -   years[y].push(post);
                    - });
                    - Object.keys(years).sort().reverse().forEach(function(year) {
                    .archive-group
                        .archive-year= year
                        .archive-posts
                            each post in years[year]
                                .archive-post
                                    a.post-title(href=url_for(post.path))= post.title
                                    if post.tags && post.tags.length
                                        - post.tags.each(function(tag) {
                                            = ' '
                                            a.tag.archive-tag(href=url_for(tag.path))= '#' + tag.name
                                        - })
                    - });
